import {
  Column,
  Model,
  Table,
} from 'sequelize-typescript';
import { UUIDV4 } from 'sequelize';

@Table({ tableName: '{{tableName}}' })
export class {{modelName}} extends Model {
  @Column({ primaryKey: true, defaultValue: UUIDV4 })
  id: string;

  {{#attributes}}
  @Column
  {{fieldName}}: {{fieldType}};
  {{#fieldBreak}}
  
  {{/fieldBreak}}
  {{/attributes}}
}