import {
  ValidationArguments,
  ValidationOptions,
  ValidatorConstraint,
  ValidatorConstraintInterface,
  registerDecorator,
} from 'class-validator';

@ValidatorConstraint({ name: '{{name}}', async: true })
class {{className}} implements ValidatorConstraintInterface {
  /**
   * Validates whether the given value.
   * @param {any} value - The value to validate.
   * @param {ValidationArguments} args - Validation arguments.
   * @returns {Promise<boolean>} A promise that resolves to true if the validation pass, false otherwise.
   */
  async validate(value: any, args?: ValidationArguments) {
    return true;
  }

  /**
   * Returns the error message.
   * @param {ValidationArguments} args - Validation arguments containing property information.
   * @returns {string} The error message.
   */
  defaultMessage(args?: ValidationArguments): string {
    return `The validation for ${args.property} is invalid`;
  }
}

/**
 * Register decorator.
 * @param {any[]} constraints - Additional constraints for the validator.
 * @param {ValidationOptions} options - Validation options.
 * @returns {Function} A function that registers the decorator.
 */
export function {{name}}(constraints?: any[], options?: ValidationOptions) {
  return function (object: any, propertyName: string) {
    registerDecorator({
      name: '{{name}}',
      target: object.constructor,
      propertyName,
      options,
      constraints,
      validator: {{className}},
    });
  };
}
